/* @author: John Lusky
   Date: 01/20/15
 */


//// Imports
@import "bourbon";
@import "_normalize";
@import "_foundation";


//// Colors
$white: #ffffff;
$black: #000000;
$bodyText: #b3b3b3;
$content: #1c1d1e;
$body: #151515;
$lightGray: #C7C7C7;
$darkGray: #111111;
$blue: #22d7fd;
$green: #00fa87;


//// Fonts
$font-oswald: 'Oswald', sans-serif;
$font-arimo: 'Arimo', sans-serif;

//// Mixins
@mixin textIndent() {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}


//// Boilerplate nonsense
html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  font-family: $font-arimo;
}

//// Globals
body {
    background: $body /*url(http://multitoad.com/community/themes/multitoad/design/images/bg.jpg) repeat*/;
    font-family: $font-arimo;
    color: $bodyText;
    -webkit-font-smoothing: antialiased;
}

table tr td, table tr th {
    color: $bodyText;
}

h1, h2, h3, h4, h5, h6 {
    color: $green;
    font-family: $font-oswald;
    text-transform: uppercase;
}

h2, h3 {

    a {
        font-family: $font-oswald;
    }

}

.H {

    a {
        font-family: oswald;
    }

}

a {
    color: $blue;
}

.row
{
    max-width: 82.5rem;
}

blockquote.Quote, blockQuote.UserQuote {
    border-left: 4px solid #00fa87;
}

.Pager {

    .Highlight {
        color: $green;
    }

}

#Body {
    margin-top: 90px;

    .ContentColumn {
        background: $content;
        padding: 20px;
        border-top: 4px solid $green;
        margin: 0;
        -webkit-box-shadow: 0 0px 12px -9px #000000;
        -moz-box-shadow: 0 0px 12px -9px #000000;
        box-shadow: 0 0px 12px -9px #000000;
    }
}

body > #Frame > .Head {
    padding: 0px 3px 3px;
}

#Head {
    position: fixed;
    width: 100%;
    height: 65px;
    top: 0px;
    left: 0px;
    z-index: 999;
    margin-bottom: 20px;
    background: rgba(21, 21, 21, 0.93);
    border-bottom: 7px solid $green;
    -webkit-box-shadow: 0px 10px 70px -32px rgba(0,250,135,1);
    -moz-box-shadow: 0px 10px 70px -32px rgba(0,250,135,1);
    box-shadow: 0px 10px 70px -32px rgba(0,250,135,1);
    transition: all .7s ease-out;

    &:hover {
        background: rgba(21, 21, 21, 1);
        -webkit-box-shadow: 0px 10px 122px -20px rgba(0,250,135,1);
        -moz-box-shadow: 0px 10px 122px -20px rgba(0,250,135,1);
        box-shadow: 0px 10px 122px -20px rgba(0,250,135,1);
    }

    a {
        font-weight: normal;
        color: $blue;
        transition: all .4s ease-out;

        &:hover {
            color: $green;
            text-decoration: none;
        }
    }

    .SiteSearch {
        float: right;
        margin-top: 9px;

        @media only screen and (max-width: 40em) {
            display: none;
        }

        .Button {
            top: 10px;
            right: 9px;
        }

        .InputBox {
            padding: 5px 25px 5px 10px;
            background: transparent;
            color: transparent;
            transition: all .4s ease-out;

            &:hover, &:active, &:focus {
                background: $black;
                color: $bodyText;

                &::-webkit-input-placeholder {
                   color: $bodyText;
                }

                &:-moz-placeholder { /* Firefox 18- */
                   color: $bodyText;
                }

                &::-moz-placeholder {  /* Firefox 19+ */
                   color: $bodyText;
                }

                &:-ms-input-placeholder {
                   color: $bodyText;
                }

            }

            &::-webkit-input-placeholder {
               color: transparent;
            }

            &:-moz-placeholder { /* Firefox 18- */
               color: transparent;
            }

            &::-moz-placeholder {  /* Firefox 19+ */
               color: transparent;
            }

            &:-ms-input-placeholder {
               color: transparent;
            }

        }

    }

}

.Row {
    width: auto;
}

.Item {
    &.Read {
        background: $content;
        opacity: 1;
    }
}

table {
    background: transparent;
    border: 0px solid #ddd;
    table-layout: auto;

    thead {
        background: $content;
    }
}

.DataTable {

    thead {

        td {

            &:first-child{
                padding-left: 10px;
            }

        }

    }

    td {
        padding: 16px 0;
        color: $bodyText;
        border-bottom: 0px solid #ddd;
        border-bottom: 0px solid rgba(0, 0, 0, 0.1);
    }

    .Title {
        font-size: 15px;
        font-weight: bold;
    }

}

.HomepageTitle {
    font-size: 20px;
    margin-top: 15px;
    margin-left: 8px;
}

.ItemDiscussion {
    padding: 10px 9px 9px 9px;
    border-bottom: 1px solid rgb(21, 21, 21);

    .Message {
        padding-bottom: 30px;
        border-bottom: 2px solid rgba(23, 23, 23, 1);
        font-size: 15px;
    }
}

.Discussion {
    .PageTitle {
        padding: 10px 5px 10px;

        h1 {
            font-size: 40px;
            line-height: 1.2;
        }
    }
}

#Panel {
    width: 100%;

    li {

        a {
            font-family: $font-oswald;
            font-weight: normal;
            font-size: 14px;
            color: $bodyText;
            text-transform: uppercase;
            transition: all .4s ease-out;

            &:hover {
                color: $blue;
            }
        }

    }

}

#Content {
    width: 100%;
}

.Active a {
  color: $green !important;
}

input, select, textarea {
    color: $bodyText;
    background: $body;

    &:focus {
        color: $bodyText;
        background: $body;
    }

}

select {
    border-color: #2F2F2F;

    &:hover {
      background-color: transparent;
      border-color: #999;
    }

}

ul.token-input-list {
    border: 1px solid #2F2F2F !important;
    background-color: $body !important;
}

li.token-input-token {
  background-color: #000 !important;
  color: #00fa87 !important;
  border: 2px solid rgba(0, 250, 135, 0.41) !important;
}

.Tag {
    background: #00fa87;
    color: #000000;
    font-weight: bold;
}

.Tag-Closed {
    background: black;
    color: gray;
}

div.Popup {

    .Body {
        background: #000000;
        padding: 10px;
        float: left;
    }

}

label {
    color: $bodyText;
}

.Message {
    line-height: 140%;
    font-size: 100%;
    word-wrap: break-word;
    margin-top: 15px;
    margin-bottom: 10px;
}

.cleditorMain {
    border: 1px solid #2F2F2F;
    background-color: $body;

    body {
        color: $bodyText !important;
    }

}

.Button {
    display: inline-block;
    cursor: pointer;
    margin: 0;
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    padding: 4px 6px;
    background: #000000;
    border: 2px solid #999;
    border-radius: 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 0;
    white-space: nowrap;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: rgba(34, 215, 253, 0.5);
    color: $blue;
    transition: all .5s ease-out;

    &:hover {
        border-color: $blue;
        color: $blue;
    }

    &:active, &:focus {
        background: $black;
    }

}

.BigButton {
    display: block;
    text-align: center;
    margin: 0 0 10px;
    font-family: $font-oswald;
    font-size: 16px;
    font-weight: normal;
    padding: 10px 10px;
    border: 5px solid $blue;
    border-color: rgba(34, 215, 253, 0.5);
    text-transform: uppercase;

    &:hover {
        -webkit-box-shadow: inset 0px 0px 36px -8px rgba(34,215,253,1);
        -moz-box-shadow: inset 0px 0px 36px -8px rgba(34,215,253,1);
        box-shadow: inset 0px 0px 36px -8px rgba(34,215,253,1);
    }
}

input[type=text], input[type=password], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=email], input[type=number], input[type=tel], input[type=time], input[type=url], input[type=color], input[type=search], textarea {
    -webkit-appearance: none;
    border-radius: 0;
    background-color: $body;
    font-family: inherit;
    border-style: solid;
    border-width: 1px;
    border-color: #2F2F2F;
    box-shadow: none;
    color: rgba(255,255,255,.75);
    display: block;
    font-size: .875rem;
    margin: 0 0 1rem;
    padding: .5rem;
    height: 2.3125rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: box-shadow .45s,border-color .45s ease-in-out;
}

input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=month]:focus, input[type=week]:focus, input[type=email]:focus, input[type=number]:focus, input[type=tel]:focus, input[type=time]:focus, input[type=url]:focus, input[type=color]:focus, input[type=search]:focus, textarea:focus {
    box-shadow: 0 0 5px #999;
    background: $body;
    border-color: #999;
    outline: 0;
    color: $bodyText;
}

fieldset[disabled] input[type=text], fieldset[disabled] input[type=password], fieldset[disabled] input[type=date], fieldset[disabled] input[type=datetime], fieldset[disabled] input[type=datetime-local], fieldset[disabled] input[type=month], fieldset[disabled] input[type=week], fieldset[disabled] input[type=email], fieldset[disabled] input[type=number], fieldset[disabled] input[type=tel], fieldset[disabled] input[type=time], fieldset[disabled] input[type=url], fieldset[disabled] input[type=color], fieldset[disabled] input[type=search], fieldset[disabled] textarea, input[type=text]:disabled, input[type=text][disabled], input[type=text][readonly], input[type=password]:disabled, input[type=password][disabled], input[type=password][readonly], input[type=date]:disabled, input[type=date][disabled], input[type=date][readonly], input[type=datetime]:disabled, input[type=datetime][disabled], input[type=datetime][readonly], input[type=datetime-local]:disabled, input[type=datetime-local][disabled], input[type=datetime-local][readonly], input[type=month]:disabled, input[type=month][disabled], input[type=month][readonly], input[type=week]:disabled, input[type=week][disabled], input[type=week][readonly], input[type=email]:disabled, input[type=email][disabled], input[type=email][readonly], input[type=number]:disabled, input[type=number][disabled], input[type=number][readonly], input[type=tel]:disabled, input[type=tel][disabled], input[type=tel][readonly], input[type=time]:disabled, input[type=time][disabled], input[type=time][readonly], input[type=url]:disabled, input[type=url][disabled], input[type=url][readonly], input[type=color]:disabled, input[type=color][disabled], input[type=color][readonly], input[type=search]:disabled, input[type=search][disabled], input[type=search][readonly], textarea:disabled, textarea[disabled], textarea[readonly] {
  background-color: $body;
  border-color: #2D2D2d;
  color: #2A2A2A;
  cursor: default;
}

table tfoot tr td, table tfoot tr th, table thead tr td, table thead tr th {
    color: $green;
}

table.PreferenceGroup tbody tr:hover td {
  background: #002715 !important;
}

.MenuItems {
    line-height: 100%;
    font-size: 11px;
    border: 3px solid #00fa87;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: #000;
    padding: 5px 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);

    a {
        &:hover {
            background-color: #002715 !important;
        }
    }

}

.MenuItems a, .MenuItems a:link, .MenuItems a:visited, .MenuItems a:active {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    color: $bodyText !important;
    padding: 3px 15px;
    line-height: 18px;
}

.FlyoutMenu {
    width: 300px;
    background: $black;
    color: $bodyText;
    border: 3px solid #00fa87;

    a {
        color: $blue;

        &:hover {
            color: $blue;
            opacity: .8;
        }

    }

}

.Info {
    background: #000000;
}

.SiteMenu {

    @media all and (max-width: 810px) {
        display: none;
    }

    a {
       padding: 6px;
       font-family: $font-oswald;
       font-size: 17px;
       text-transform: uppercase;
   }

   li {
       display: inline-block;
       padding: 10px 0px;
       margin: 0 5px;
       transition: all .5s ease-out;

       &:hover {
           border-top: 7px solid $green;
       }

       @media only screen and (max-width: 40em) {
           &:hover {
               border-top: 0px solid $green;
           }
       }

   }

    .community-active {
        font-family: $font-oswald;
        font-size: 17px;
        color: $green;
        border-top: 7px solid $green;
        display: inline-block;
        padding: 10px 0px;
        text-transform: uppercase;

        a {
            color: $green !important;
        }

        @media only screen and (max-width: 810px) {
            border-top: 0px solid $green;
        }
    }

}

.AlertMessage {
    background: #6441a5;
    border: 1px solid #6441a5;
    color: $white;
}

.InfoMessage {
    background: $body;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    border-right: 4px solid $green;
    color: $bodyText;
}

///// YAGA

.Count {
  background: #444;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 1px .8ex;
}

a.TextColor, a .TextColor {
    color: $blue;

    &:hover, &:focus {
        color: $bodyText;
    }

}


///// Main Page

.masthead {
    display: block;
    max-width: 486px;
    margin: 0 auto;

    @media all and (max-width: 695px) {
        max-width: 100%;
    }
}

.TagCloud {

    li {
        display: inline-block;
        background: transparent;
        padding: 3px;
        line-height: 100%;
        border: solid 1px #CCCCCC;
        border-color: rgba(200, 186, 186, 0.27);
        margin: 2px 0;

        a {
            font-size: 12px!important;
        }
    }

}

.SiteTitle {

    a {
        display: inline-block;
        width: 260px;
        background: url(http://multitoad.com/wp-content/uploads/2013/12/valenti-logo.png);
        background-position: 0px -16px;
        text-indent: -9999px;

        @media all and (max-width: 810px) {
            margin-top: 12px;
        }

    }

}

.DiscussionsTable {

    thead {
        background: $body;
    }

}

.DiscussionName {
    padding-left: 9px!important;
}


///// Topics

table {
    tr {
        &:nth-of-type(even) {
          background: $content;
        }
    }
}


///// Discussions

.MessageList {
    margin: 0 10px;
}

.DataList, .NarrowList {

    .Item {
        margin: 0;
        padding: 0px 0 80px;
        border: 0px solid #ddd;
        border: 0px solid rgba(0, 0, 0, 0.1);
        border-bottom-width: 1px;
        position: relative;
    }
}

.DiscussionHeader {
    border-bottom: 1px solid #131313;
    border-top: 4px solid rgba(0, 250, 135, 0.17)!important;
    padding-bottom: 18px;
    margin-bottom: 20px;
    padding: 10px;
    background: rgb(23, 23, 23);
}

.DiscussionForm {

    label {
        color: $bodyText;
    }

}

.ItemComment {
    border-top: 4px solid rgba(0, 250, 135, 0.17)!important;

    .Message {
        padding-bottom: 30px;
        border-bottom: 2px solid rgba(23, 23, 23, 1);
        font-size: 15px;
    }
}

.Item-BodyWrap {
    padding-left: 10px;
}

.CommentHeader {
    border-bottom: 1px solid #131313;
    padding-bottom: 18px;
    margin-bottom: 20px;
    padding: 10px;
    background: rgb(23, 23, 23);
}

.RoleTitle {
    font-family: $font-oswald;
    text-transform: uppercase;
    font-size: 13px;
    color: $green;
    border-right: 3px solid rgba(0, 250, 135, 0.28);
    padding-right: 5px;
}

.Rank {
    font-family: $font-oswald;
    text-transform: uppercase;
    font-size: 13px;
    margin-left: 0;
}

/// Polls

.DP_AnswerForm, .DP_ResultsForm {
    padding: 20px !important;
    border: 3px solid rgba(0, 250, 135, 0.12) !important;
    border-radius: 5px !important;
}

.DP_Bar {
    background-color: $green !important;
    padding: 3px !important;
}

li.DP_ResultOption {
    margin: 15px 0px;
}

ol.DP_ResultQuestions {
    margin-left: 0;
}


/// Other Media Queries

@media all and (max-width: 40em) {

    .FirstUser {
        display: none;
    }

}
