/* @author: John Lusky
   Date: 01/20/15
 */


//// Imports
@import "bourbon";
@import "_normalize";
@import "_foundation";


//// Colors
$white: #ffffff;
$black: #000000;
$bodyText: #b3b3b3;
$content: #1c1d1e;
$lightGray: #C7C7C7;
$darkGray: #111111;
$blue: #22d7fd;
$green: #00fa87;


//// Fonts
$font-oswald: 'Oswald', sans-serif;
$font-arimo: 'Arimo', sans-serif;

//// Mixins
@mixin textIndent() {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}


//// Boilerplate nonsense
html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  font-family: $font-arimo;
}

//// Globals
body {
    background: #000;
    font-family: $font-arimo;
    color: $bodyText;
}

table tr td, table tr th {
    color: $bodyText;
}

h1, h2, h3, h4, h5, h6 {
    color: $green;
    font-family: $font-oswald;
    text-transform: uppercase;
}

h2 {

    a {
        font-family: $font-oswald;
    }

}

a {
    color: $blue;
}

.row
{
    max-width: 82.5rem;
}

#Body {
    .ContentColumn {
        background: $content;
        padding: 20px;
        border-top: 4px solid $green;
        margin: 0;
    }
}

#Head {
    margin-bottom: 20px;
    background: $black;
    border-bottom: 7px solid $green;
    -webkit-box-shadow: 0px 10px 122px -27px rgba(0,250,135,1);
    -moz-box-shadow: 0px 10px 122px -27px rgba(0,250,135,1);
    box-shadow: 0px 10px 122px -27px rgba(0,250,135,1);
}

.Row {
    width: auto;
}

.Item {
    &.Read {
        background: $content;
        opacity: 1;
    }
}

table {
    background: transparent;
    border: 0px solid #ddd;
    table-layout: auto;

    thead {
        background: $content;
    }
}

.DataTable {
    td {
        padding: 16px 0;
        color: $bodyText;
        border-bottom: 0px solid #ddd;
        border-bottom: 0px solid rgba(0, 0, 0, 0.1);
    }
}

.HomepageTitle {
    font-size: 20px;
}

.ItemDiscussion {
    padding: 10px 9px 9px 9px;

    .Message {
        font-size: 15px;
    }
}

.Discussion {
    .PageTitle {
        padding: 10px 5px 10px;

        h1 {
            font-size: 40px;
            line-height: 1.2;
        }
    }
}

#Panel {
    width: 100%;
}

#Content {
    width: 100%;
}

input, select, textarea {
    color: $bodyText;
    background: $black;

    &:focus {
        color: $bodyText;
        background: $black;
    }

}

.SiteSearch {

    .Button {
        top: 10px;
        right: 9px;
    }

}

.Tag {
    background: #00fa87;
    color: #000000;
    font-weight: bold;
}

div.Popup {

    .Body {
        background: #000000;
        padding: 10px;
        float: left;
    }

}

label {
    color: $bodyText;
}

.Message {
    line-height: 140%;
    font-size: 100%;
    word-wrap: break-word;
    margin-top: 15px;
    margin-bottom: 10px;
}

.cleditorMain {
    //border: 1px solid #2F2F2F;
    //background-color: $black;
}

.Button {
    display: inline-block;
    cursor: pointer;
    margin: 0;
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    padding: 4px 6px;
    background: #000000;
    border: 2px solid #999;
    border-radius: 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 0;
    white-space: nowrap;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: rgba(34, 215, 253, 0.5);
    color: $blue;
    transition: all .4s ease-out;

    &:hover {
        border-color: $blue;
        color: $blue;
    }

    &:active, &:focus {
        background: $black;
    }

}

.BigButton {
    display: block;
    text-align: center;
    margin: 0 0 10px;
    font-family: $font-oswald;
    font-size: 16px;
    font-weight: normal;
    padding: 10px 10px;
    border: 5px solid $blue;
    border-color: rgba(34, 215, 253, 0.5);
    text-transform: uppercase;
    -webkit-box-shadow: inset 0px 0px 36px -8px rgba(34,215,253,1);
    -moz-box-shadow: inset 0px 0px 36px -8px rgba(34,215,253,1);
    box-shadow: inset 0px 0px 36px -8px rgba(34,215,253,1);
}

input[type=text], input[type=password], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=email], input[type=number], input[type=tel], input[type=time], input[type=url], input[type=color], input[type=search], textarea {
  -webkit-appearance: none;
  border-radius: 0;
  background-color: #000;
  font-family: inherit;
  border-style: solid;
  border-width: 1px;
  border-color: #2F2F2F;
  box-shadow: none;
  color: rgba(255,255,255,.75);
  display: block;
  font-size: .875rem;
  margin: 0 0 1rem;
  padding: .5rem;
  height: 2.3125rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: box-shadow .45s,border-color .45s ease-in-out;
}

input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=month]:focus, input[type=week]:focus, input[type=email]:focus, input[type=number]:focus, input[type=tel]:focus, input[type=time]:focus, input[type=url]:focus, input[type=color]:focus, input[type=search]:focus, textarea:focus {
  box-shadow: 0 0 5px #999;
  background: #000;
  border-color: #999;
  outline: 0;
  color: $bodyText;
}

.MenuItems {
    line-height: 100%;
    font-size: 11px;
    border: 3px solid #00fa87;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: #000;
    padding: 5px 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);

    a {
        &:hover {
            background-color: #002715 !important;
        }
    }

}

.MenuItems a, .MenuItems a:link, .MenuItems a:visited, .MenuItems a:active {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    color: $bodyText !important;
    padding: 3px 15px;
    line-height: 18px;
}


///// YAGA

.Count {
  background: #444;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 1px .8ex;
}

a.TextColor, a .TextColor {
    color: $blue;

    &:hover, &:focus {
        color: $bodyText;
    }

}


///// Main Page

.TagCloud {

    li {
        display: inline-block;
        background: transparent;
        padding: 3px;
        line-height: 100%;
        border: solid 1px #CCCCCC;
        border-color: rgba(200, 186, 186, 0.27);
        margin: 2px 0;
        font-size: 12px;
    }

}

.SiteTitle {

    a {
        display: inline-block;
        width: 260px;
        background: url(http://multitoad.com/wp-content/uploads/2013/12/valenti-logo.png);
        background-position: 0px -12px;
        text-indent: -9999px;
    }

}


///// Topics

table {
    tr {
        &:nth-of-type(even) {
          background: $content;
        }
    }
}


///// Discussions

.MessageList {
    margin: 0 10px;
}

.DataList, .NarrowList {

    .Item {
        margin: 0;
        padding: 30px 0px;
        border: 0px solid #ddd;
        border: 0px solid rgba(0, 0, 0, 0.1);
        border-bottom-width: 1px;
        position: relative;
    }
}

.ItemComment {
    border-top: 4px solid $green!important;
}


.CommentHeader {
    border-bottom: 1px solid rgb(61, 61, 61);
    padding-bottom: 18px;
    margin-bottom: 20px;
}
