/* @author: John Lusky
   Date: 01/20/15
 */


//// Imports
@import "bourbon";
@import "_normalize";
@import "_foundation";


//// Colors
$white: #ffffff;
$black: #000000;
$bodyText: #b3b3b3;
$content: #1c1d1e;
$lightGray: #C7C7C7;
$darkGray: #111111;
$blue: #22d7fd;
$green: #00fa87;


//// Fonts
$font-oswald: 'Oswald', sans-serif;

//// Mixins
@mixin textIndent() {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}


//// Boilerplate nonsense
html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


//// Globals
body {
    background: #000;
    color: $bodyText;
}

table tr td, table tr th {
    color: $bodyText;
}

h1, h2, h3, h4, h5, h6 {
    color: $green;
    font-family: $font-oswald;
    text-transform: uppercase;
}

a {
    color: $blue;
}

#Body {
    .ContentColumn {
        background: $content;
        padding: 20px;
        border-top: 4px solid $green;
    }
}

#Head {
    background: $black;
    border-bottom: 7px solid $green;
}

.Row {
    width: 1200px;
}

.Item {
    &.Read {
        background: $content;
        opacity: 1;
    }
}

table {
    background: transparent;
    border: 0px solid #ddd;
    table-layout: auto;

    thead {
        background: $content;
    }
}

.DataTable {
    td {
        padding: 16px 0;
        color: $bodyText;
        border-bottom: 0px solid #ddd;
        border-bottom: 0px solid rgba(0, 0, 0, 0.1);
    }
}

.HomepageTitle {
    font-size: 20px;
}

.ItemDiscussion {
    padding: 10px 9px 9px 9px;
}

.Discussion {
    .PageTitle {
        padding: 10px 5px 10px;

        h1 {
            font-size: 40px;
            line-height: 1.2;
        }
    }
}
